@model EmailPayload

@{
    ViewData["Title"] = "Compose Email";
}
<h1 class="display-5">@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    @if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "Please correct the following errors:", new { @class = "text-danger" })
    }

    <div class="mb-3">
        @Html.LabelFor(model => model.FromName, new { @class="form-label" })
        <div class="input-group mb-3">
            @Html.TextBoxFor(model => model.FromName, new { @class="form-control", placeholder="From" })
            <span class="input-group-text" >@@@Model.FromDomain</span>
        </div>
    </div>

    <div class="mb-3">

        @Html.LabelFor(model => model.To, new { @class="form-label" })

        <div data-recipientType="To">
            @for(int x = 0; x <= Model.To.Count - 1; x++)
            {
                <div class="input-group mb-3">
                    <input type="email" value="@Model.To[x]" class="form-control" data-recipientType="To" id="To[@x]" name="To" placeholder="To" />
                </div>
            }
        </div>

        <div class="mb-3">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" title="Add a Recipient" class="btn btn-info" onclick="addRecipientField('To');">+</button>
              <button type="button" title="Remove a Recipient" class="btn btn-warning" onclick="removeRecipientField('To');">-</button>
            </div>
        </div>

    </div>

    <div class="mb-3">

        @Html.LabelFor(model => model.Body, new { @class="form-label" })

        @Html.TextAreaFor(model => model.Body,
            new {
                @class = "form-control",
                rows = 10,
                placeholder = "Message Body"
            }
        )

    </div>

    @Html.HiddenFor(model => model.FromDomain);

    <button type="submit" class="btn btn-primary">Next</button>
}

